/*

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .senha-container {
    background-color: #2f2f2f;
    border-radius: 8px;
    box-shadow: rgb(31 31 31 / 17%) 0px -23px 25px 0px inset,
      rgb(108 108 108 / 23%) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  .senha-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    color: #ffdd57;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 5px;
  }

  .paragraph {
    color: #ffdd57;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group ::placeholder {
    color: white;
  }

  .input-group input {
    background: none;
    border: 1px solid #ffdd57;
    padding: 15px 23px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffdd57;
    width: 80%;
    box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
      rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .input-group input:focus {
    border-color: #ffdd57;
    outline: none;
  }

  button {
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: gray;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }

  button:hover {
    background-color: #ffdd57;
    color: black;
  }

  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
  }

  .bottom-text p {
    color: gray;
  }

  .bottom-text a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .bottom-text p a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .bottom-text p a:hover {
    cursor: pointer;
    color: #ffdd57;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .bottom-text a:hover {
    color: #ffdd57;
  }

  .error-message {
    color: red;
  }
*/

texto {
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: center;
  text-align: center;
  padding: 10%;
  font: 20px Helvetica, sans-serif;
  color: #333;
}

h1 {
  font-size: 50px;
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 400px;
  margin-left: 30px;
  margin-right: 30px;
  gap: 10px;
}

article h1 {
  font-size: 80px;
}

article p {
  font-size: 25px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #ffdd57;
  text-decoration: none;
}

@media only screen and (max-width : 840px) {

  article h1 {
    font-size: 50px;
  }

  article p {
    font-size: 20px;
  }

}
