/* contact-form.component.css */
.contact-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .titulo-form {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .titulo-form h2 {
    font-size: 1.5rem;
    color:#ffdd57;
  }
  
  .titulo-form p {
    font-size: 1rem;
    color:#ffdd57;
  }
  
  .form-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .form-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }
  
  .contact-form {
      display: flex;
      width: 90%;
      max-width: 400px;
      flex-direction: column;
      gap: 15px;
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 15px;
      padding-top: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }
    
    .contact-form label {
      font-weight: bold;
      font-size: 1.2rem;
    }
    
    .contact-form input,
    .contact-form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
    
    .contact-form button {
      padding: 10px 15px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .contact-form button:hover {
      background-color: #ffdd57;
      color: #000;
      font-weight: 600;
    }
    
  /* Estilos do modal */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .popup button {
    background-color: #ffdd57;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .popup button:hover {
    background-color: #e6c14d;
  }
  
  /* Ajustes para telas pequenas */
  @media (max-width: 768px) {
    .contact-form-container {
      height: auto; /* Deixa o contêiner se ajustar ao conteúdo */
      padding: 20px;
    }
  
    .titulo-form h2 {
      font-size: 1.8rem; /* Reduz o tamanho do título */
    }
  
    .titulo-form p {
      font-size: 1rem; /* Ajusta o tamanho da descrição */
    }
  
    .contact-form {
      width: 90%; /* Reduz a largura do formulário */
      max-width: 100%;
      margin: 0 auto;
    }
  }

  /* Estilos do Rodapé */

.footer-1 {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 50px;
  border: none;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ffdd57;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a {
  color: #ffdd57;
  text-decoration: none;
  font-weight: bold;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-image img {
  max-width: 150px;
  height: auto;
}

.footer-image img:hover {
  cursor: pointer;
}

.footer-image a {
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 0.8rem;
}  

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}