

<footer class="bg-dark py-1 my-1">
    
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">

      <li class="nav-item"><a routerLink="/contato" class="nav-link">Contato</a></li>
      <li class="nav-item"><a routerLink="/crud" class="nav-link">Meeting Now</a></li>
      <li class="nav-item"><a routerLink="/client" class="nav-link">Associados</a></li>
      <li class="nav-item"><a routerLink="/faq" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a routerLink="/politicas" class="nav-link">Políticas</a></li>
    </ul>
    <p class="text-center">&copy; 2024 DGM Advocacia, Inc</p>

  </footer>