* {
    color: #ffdd57 !important;
    background-color: rgb(0, 0, 0) !important;
}

nav ul {
    white-space: nowrap;
    gap: 5px;
}

#nav-item-adm {
  display: none;
}

.nav-item-login {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 30px;
    padding: 10px;
    background-color: #ffdd57;
    font-weight: bold;
}

.nav-item-login a {
    color: #ffdd57 !important;
    padding: 5px;
}

.nav-item-login:hover a {
    background-color: #ffdd57 !important;
    color: black !important;
    border-radius: 20px;
    padding: 5px;
}

.nav-item-login a:hover {
    color:black !important;
    background-color: #ffdd57 !important;;
}

.nav-item:hover {
    cursor: pointer;
}

.dropdown-menu {
    background-color: var(--bs-body-color);
}

.dropdown-menu:hover {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
    gap: 5px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.container-fluid img {
    max-height: 50px;
    cursor: pointer;
    align-items: left;
}

.navbar-brand {
    color: #ffdd57;
    font-family: 'Titillium Web', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    width: 10%;
    flex-grow: 1;
    margin-right: 20px;
    justify-content: right;
    gap: 20px;
}

.redes-sociais a {
    color: #ffdd57;
    font-size: 25px; /* Ajuste o tamanho do ícone */
}


@media (max-width: 1200px) {

    .container-fluid {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,221,87, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .redes-sociais {
        display: none !important;
    }

    .nav-item-login {
        display: none !important;
    }

    .navbar-brand {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #nav-item-entrar {
        display: none !important;
    }
}
