<div id="sobre-nos">
    <section class="about-us">
        <h2>Sobre Nós</h2>
        <h3>DGM Advocacia: Compromisso com a Justiça e a Excelência Jurídica</h3>
        <p>A DGM Advocacia é uma renomada empresa de advocacia especializada em oferecer soluções jurídicas eficazes e personalizadas para atender às necessidades de nossos clientes. Com uma equipe altamente capacitada e comprometida, atuamos em diversas áreas do Direito, incluindo Direito Civil, Direito Trabalhista, Direito de Família, Direito Empresarial, Direito Tributário, entre outras, com o objetivo de proporcionar segurança jurídica e resultados satisfatórios para nossos clientes.</p>
        <p>Nosso escritório é movido por uma sólida ética profissional e pela busca incansável pela justiça. Acreditamos que cada cliente merece uma atenção exclusiva, por isso trabalhamos de forma próxima, transparente e comprometida. Nossa equipe é formada por advogados experientes e qualificados, prontos para lidar com qualquer tipo de litígio ou assessoria jurídica. Buscamos sempre a prevenção de conflitos e a resolução eficiente de questões legais, seja por meio da negociação, mediação ou, quando necessário, por meio de soluções judiciais.</p>
        <p>Com anos de experiência no mercado, a DGM Advocacia se consolidou como referência no setor jurídico, oferecendo não apenas consultoria de alta qualidade, mas também estratégias jurídicas personalizadas que atendem a cada situação específica com agilidade e precisão. Temos orgulho de nossa reputação construída ao longo dos anos, que é pautada no comprometimento com os nossos valores, na confiança dos nossos clientes e no constante aprimoramento da nossa equipe.</p>
        <p>Nossa motivação é clara: garantir que nossos clientes recebam o melhor atendimento jurídico possível, com profissionalismo, transparência e resultados concretos. Na DGM Advocacia, trabalhamos para que a justiça seja alcançada de forma eficaz, ética e com o máximo de excelência em todos os aspectos da nossa atuação.</p>
        <p>Seja qual for o seu desafio jurídico, conte com a expertise e dedicação da DGM Advocacia para encontrar a melhor solução para o seu caso.</p>
    </section>  
  </div>
  
  <div class="parallax"></div>

  <div id="servicos">
    <div class="titulo-equipe">
        <h2>Conheça nossa equipe:</h2>
    </div>
  </div>
  
  <div class="image-container">
      <div class="image-item">
        <img src="diego.jpeg" alt="Diego">
        <div class="description">Diego - Advogado Especializado em Direito Trabalhista</div>
      </div>
      <div class="image-item">
        <img src="gabriela.jpeg" alt="Gabriela">
        <div class="description">Gabriela - Advogada Especializada em Direito de Família</div>
      </div>
      <div class="image-item">
        <img src="manoel.jpeg" alt="Manoel">
        <div class="description">Manoel - Advogado Especializado em Direito Empresarial</div>
      </div>
  </div>
  
  <div class="desc-equipe">
    <div class="adv-container">
        <div class="nome-adv">
            <h3>Diego - Direito Trabalhista</h3>
        </div>
        <div class="adv">
            <p>Diego é um advogado dedicado à defesa dos direitos dos trabalhadores e à solução de conflitos trabalhistas. Com vasta experiência em questões como rescisões contratuais, acidentes de trabalho, acordos e negociações coletivas.</p>
        </div>
    </div>
    
    <div class="adv-container">
        <div class="nome-adv">
            <h3>Gabriela - Direito de Família</h3>
        </div>
        <div class="adv">
            <p>Gabriela é uma profissional experiente na área de direito de família, oferecendo suporte legal em questões sensíveis como divórcios, guarda de filhos, pensão alimentícia e partilha de bens.</p>
        </div>
    </div>
  
    <div class="adv-container">
        <div class="nome-adv">
            <h3>Manoel - Direito Empresarial</h3>
        </div>
        <div class="adv">
            <p>Manoel é especializado em direito empresarial, prestando assessoria jurídica para empresas de diferentes portes. Ele oferece soluções eficazes para questões como contratos empresariais, constituição de sociedades, consultoria tributária e resolução de litígios comerciais.</p>
        </div>
    </div>
  </div>

<router-outlet></router-outlet>
