<router-outlet></router-outlet>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Excelência Jurídica em Cada Caso</h1>
            <p class="opacity-75">Nossa advocacia oferece consultoria jurídica empresarial para apoiar sua empresa em diversas áreas do direito, incluindo contratos, disputas comerciais, questões tributárias e regulatórias.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/crud">Agende uma reunião</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Confiança e Transparência em Todos os Processos</h1>
            <p>Nossa equipe oferece defesa completa em questões trabalhistas, tanto para empregados quanto empregadores.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/client">Conheça nossos serviços</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Resultados que Falam por Si</h1>
            <p>Ajudamos nossos clientes a resolver questões delicadas no âmbito do direito de família, como divórcios, guarda de filhos, pensão alimentícia e partilha de bens.</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/contato">Entre em contato</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  
  <div></div>

  <section class="creative-cards style-one">
    <div class="container">
      <div class="row">
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/1yIWjyG41o.png" alt="Ícone de planejamento estratégico" />
            </div>
            <h3><a routerLink="/login">Planejamento Jurídico</a></h3>
            <p>Desenvolvemos estratégias jurídicas eficazes que garantem a melhor defesa dos seus interesses, proporcionando a tranquilidade e segurança que você merece em todas as fases do processo legal.</p>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/Q4tSh2ctkH.png" alt="Ícone de design tradicional" />
            </div>
            <h3><a routerLink="/login">Assessoria Jurídica Personalizada</a></h3>
            <p>Oferecemos um atendimento jurídico personalizado, com foco nas necessidades de cada cliente, proporcionando soluções justas, transparentes e eficazes para cada caso.</p>
          </div>
        </div>
        <div class="card-column">
          <div class="card-details">
            <div class="card-icons">
              <img class="light-icon" src="https://imgpanda.com/upload/ib/YQdOwN6IDJ.png" alt="Ícone de qualidade" />
            </div>
            <h3><a routerLink="/login">Compromisso com a Justiça</a></h3>
            <p>Nosso compromisso é com a justiça e com a defesa dos seus direitos, sempre buscando resultados justos e equilibrados. Trabalhamos para garantir que sua voz seja ouvida e respeitada.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="botao-agendar"><a routerLink="/login">
    <button class="animated-button">
      <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
      <span class="text">Agende uma reunião</span>
      <span class="circle"></span>
      <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
    </button>
  </a>
  </div>

  <div class="parallax"></div>
  
  <section class="nosso-time">
    <div class="team-page">
      <h2 class="team-title"><a routerLink="/client">Nosso time de Advogados</a></h2>
      
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="diego.jpeg">
              </div>
              <div class="team-content">
                <h3 class="name">Diego</h3>
                <h4 class="title">Direito Trabalhista</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="gabriela.jpeg">
              </div>
              <div class="team-content">
                <h3 class="name">Gabriela</h3>
                <h4 class="title">Direito da Família</h4>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="manoel.jpeg">
              </div>
              <div class="team-content">
                <h3 class="name">Manoel</h3>
                <h4 class="title">Direito Empresarial</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    </section>

  <app-testemunhos></app-testemunhos>
